In [1]:
import pandas as pd
import numpy as np

In [2]:
data2018_to_load = "../Education/ACSDT1Y2018.B07009_data_with_overlays_2019-12-21T130141.csv"
metadata2018_to_load = "../Education/ACSDT1Y2018.B07009_metadata_2019-12-21T130141.csv"

fulldata2018 = pd.read_csv(data2018_to_load)
metadata2018 = pd.read_csv(metadata2018_to_load)

In [3]:
fulldata2018.head()

,GEO_ID,NAME,B07009_008M,B07009_009E,B07009_009M,B07009_010E,B07009_010M,B07009_011E,B07009_011M,B07009_012E,...,B07009_003M,B07009_004E,B07009_004M,B07009_005E,B07009_005M,B07009_006E,B07009_006M,B07009_007E,B07009_007M,B07009_008E
0,id,Geographic Area Name,Margin of Error!!Total!!Same house 1 year ago!...,Estimate!!Total!!Same house 1 year ago!!High s...,Margin of Error!!Total!!Same house 1 year ago!...,Estimate!!Total!!Same house 1 year ago!!Some c...,Margin of Error!!Total!!Same house 1 year ago!...,Estimate!!Total!!Same house 1 year ago!!Bachel...,Margin of Error!!Total!!Same house 1 year ago!...,Estimate!!Total!!Same house 1 year ago!!Gradua...,...,Margin of Error!!Total!!High school graduate (...,Estimate!!Total!!Some college or associate's d...,Margin of Error!!Total!!Some college or associ...,Estimate!!Total!!Bachelor's degree,Margin of Error!!Total!!Bachelor's degree,Estimate!!Total!!Graduate or professional degree,Margin of Error!!Total!!Graduate or profession...,Estimate!!Total!!Same house 1 year ago,Margin of Error!!Total!!Same house 1 year ago,Estimate!!Total!!Same house 1 year ago!!Less t...
1,0500000US44005,"Newport County, Rhode Island",1216,10838,1619,12987,1683,13850,1659,13208,...,1640,14068,1690,16578,1707,14723,2032,54684,1505,3801
2,0500000US44009,"Washington County, Rhode Island",1019,18699,2333,19981,1767,21827,2264,17103,...,2459,21277,1796,23157,2337,18154,2317,81926,1431,4316
3,0500000US45073,"Oconee County, South Carolina",2154,13775,2087,15330,2139,7553,1505,4996,...,2032,17493,2345,9062,1622,5597,1174,49479,1885,7825
4,0500000US48187,"Guadalupe County, Texas",1772,29977,3053,29224,2729,17901,2188,8231,...,3458,31801,2708,19914,2335,9797,1776,95723,2645,10390

In [4]:
data2018 = fulldata2018[['GEO_ID',"NAME","B07009_003E","B07009_004E","B07009_005E","B07009_006E","B07009_001E"]]

data2018 = data2018.rename(columns={"GEO_ID":"FIPS","NAME":"County",
                                        "B07009_002E":"Less Than High School Graduate",
                                        "B07009_003E":"High school graduate (includes equivalency)",
                                        "B07009_004E":"Some college or associate's degree",
                                        "B07009_005E":"Bachelor's degree",
                                        "B07009_006E":"Graduate or professional degree","B07009_001E":"Total"})

In [5]:
data2018.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,id,Geographic Area Name,Estimate!!Total!!High school graduate (include...,Estimate!!Total!!Some college or associate's d...,Estimate!!Total!!Bachelor's degree,Estimate!!Total!!Graduate or professional degree,Estimate!!Total
1,0500000US44005,"Newport County, Rhode Island",11420,14068,16578,14723,61616
2,0500000US44009,"Washington County, Rhode Island",19766,21277,23157,18154,87230
3,0500000US45073,"Oconee County, South Carolina",15646,17493,9062,5597,56382
4,0500000US48187,"Guadalupe County, Texas",34829,31801,19914,9797,107894

In [6]:
data2018=data2018.drop(index =0)

In [7]:
data2018=data2018.reset_index(drop=True)

In [8]:
data2018.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,0500000US44005,"Newport County, Rhode Island",11420,14068,16578,14723,61616
1,0500000US44009,"Washington County, Rhode Island",19766,21277,23157,18154,87230
2,0500000US45073,"Oconee County, South Carolina",15646,17493,9062,5597,56382
3,0500000US48187,"Guadalupe County, Texas",34829,31801,19914,9797,107894
4,0500000US53061,"Snohomish County, Washington",133029,204426,125602,60282,567618

In [9]:
countySplit = data2018["County"].str.split(", ", n = 1, expand = True)

In [10]:
countySplit.head()

                   0               1
0     Newport County    Rhode Island
1  Washington County    Rhode Island
2      Oconee County  South Carolina
3   Guadalupe County           Texas
4   Snohomish County      Washington

In [11]:
data2018["County"]= countySplit[0] 
data2018["State"]=countySplit[1]

In [12]:
data2018

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US44005,Newport County,11420,14068,16578,14723,61616,Rhode Island
1,0500000US44009,Washington County,19766,21277,23157,18154,87230,Rhode Island
2,0500000US45073,Oconee County,15646,17493,9062,5597,56382,South Carolina
3,0500000US48187,Guadalupe County,34829,31801,19914,9797,107894,Texas
4,0500000US53061,Snohomish County,133029,204426,125602,60282,567618,Washington
5,0500000US72113,Ponce Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
6,0500000US06085,Santa Clara County,184686,293946,383232,342615,1349769,California
7,0500000US06099,Stanislaus County,107960,113904,39921,18053,348796,California
8,0500000US12099,Palm Beach County,265487,297962,247498,154919,1090260,Florida
9,0500000US13117,Forsyth County,26129,34887,52519,31637,154377,Georgia
10,0500000US20173,Sedgwick County,85703,107309,65348,40647,334230,Kansas
11,0500000US26005,Allegan County,28001,25496,11268,7379,80051,Michigan
12,0500000US26081,Kent County,104826,135758,104876,53481,434090,Michigan
13,0500000US29189,St. Louis County,143604,200596,172199,132165,692991,Missouri
14,0500000US34007,Camden County,100165,97254,67763,43294,350674,New Jersey
15,0500000US35035,Otero County,12836,15793,5822,3368,44690,New Mexico
16,0500000US37171,Surry County,NaN,NaN,NaN,NaN,NaN,North Carolina
17,0500000US47149,Rutherford County,56714,69065,44250,17749,204884,Tennessee
18,0500000US48183,Gregg County,23968,27834,10599,6089,80060,Texas
19,0500000US48347,Nacogdoches County,NaN,NaN,NaN,NaN,NaN,Texas
20,0500000US51069,Frederick County,19322,17786,9331,8341,61130,Virginia
21,0500000US55089,Ozaukee County,12398,17890,17992,12592,62738,Wisconsin
22,0500000US55133,Waukesha County,62897,80595,83932,45838,284512,Wisconsin
23,0500000US04021,Pinal County,90547,116102,37962,22782,309013,Arizona
24,0500000US06045,Mendocino County,NaN,NaN,NaN,NaN,NaN,California
25,0500000US06059,Orange County,376454,612379,579012,321527,2194598,California
26,0500000US12053,Hernando County,48446,49242,17061,8415,143126,Florida
27,0500000US12115,Sarasota County,97386,102475,70580,49488,341851,Florida
28,0500000US12119,Sumter County,34205,36024,19542,16253,115853,Florida
29,0500000US29183,St. Charles County,66808,85267,67001,41422,272809,Missouri
...,...,...,...,...,...,...,...,...
809,0500000US22005,Ascension Parish,NaN,NaN,NaN,NaN,NaN,Louisiana
810,0500000US26161,Washtenaw County,33556,56965,63216,68024,232636,Michigan
811,0500000US29021,Buchanan County,23209,17119,9741,3705,61276,Missouri
812,0500000US29077,Greene County,53544,67257,33509,20964,191714,Missouri
813,0500000US34039,Union County,102496,86609,85853,58733,380464,New Jersey
814,0500000US36109,Tompkins County,11508,13481,12578,18457,59759,New York
815,0500000US37191,Wayne County,24424,31256,9965,4039,82613,North Carolina
816,0500000US41003,Benton County,8297,15479,15704,14064,55736,Oregon
817,0500000US41067,Washington County,69866,122205,115152,69875,411794,Oregon
818,0500000US45003,Aiken County,39815,34507,19993,11192,117939,South Carolina
819,0500000US51177,Spotsylvania County,25944,27461,15160,12073,88629,Virginia
820,0500000US12069,Lake County,83203,91853,40836,20843,264080,Florida
821,0500000US12127,Volusia County,124653,144794,67714,33021,406416,Florida
822,0500000US34027,Morris County,65130,70398,110254,84556,347332,New Jersey
823,0500000US36065,Oneida County,52502,48849,22601,18688,160103,New York
824,0500000US36075,Oswego County,28856,26248,9374,6732,80284,New York
825,0500000US37147,Pitt County,26425,35426,23555,11929,111171,North Carolina
826,0500000US41071,Yamhill County,17512,25817,13222,7691,71923,Oregon
827,0500000US48367,Parker County,29365,28337,16372,9501,93178,Texas
828,0500000US53029,Island County,12459,25731,12274,9067,62374,Washington
829,0500000US06081,San Mateo County,80046,129737,168047,124179,555691,California
830,0500000US17019,Champaign County,26144,34667,26318,27451,121007,Illinois
831,0500000US21029,Bullitt County,NaN,NaN,NaN,NaN,NaN,Kentucky
832,0500000US26073,Isabella County,13361,11332,6066,5146,39330,Michigan
833,0500000US34003,Bergen County,148587,139100,204372,121357,662135,New Jersey
834,0500000US34041,Warren County,25146,21042,16769,7985,76132,New Jersey
835,0500000US39003,Allen County,27729,22664,6725,5182,68507,Ohio
836,0500000US39043,Erie County,NaN,NaN,NaN,NaN,NaN,Ohio
837,0500000US41053,Polk County,NaN,NaN,NaN,NaN,NaN,Oregon
838,0100000US,United States,59961893,64402330,44599186,28151275,223158847,None

In [13]:
countyDelete = data2018["County"].str.split(" ", n = 1, expand = True)

In [14]:
data2018["County"]= countyDelete[0] 
data2018["Delete"]=countyDelete[1]

In [15]:
data2018

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State,Delete
0,0500000US44005,Newport,11420,14068,16578,14723,61616,Rhode Island,County
1,0500000US44009,Washington,19766,21277,23157,18154,87230,Rhode Island,County
2,0500000US45073,Oconee,15646,17493,9062,5597,56382,South Carolina,County
3,0500000US48187,Guadalupe,34829,31801,19914,9797,107894,Texas,County
4,0500000US53061,Snohomish,133029,204426,125602,60282,567618,Washington,County
5,0500000US72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
6,0500000US06085,Santa,184686,293946,383232,342615,1349769,California,Clara County
7,0500000US06099,Stanislaus,107960,113904,39921,18053,348796,California,County
8,0500000US12099,Palm,265487,297962,247498,154919,1090260,Florida,Beach County
9,0500000US13117,Forsyth,26129,34887,52519,31637,154377,Georgia,County
10,0500000US20173,Sedgwick,85703,107309,65348,40647,334230,Kansas,County
11,0500000US26005,Allegan,28001,25496,11268,7379,80051,Michigan,County
12,0500000US26081,Kent,104826,135758,104876,53481,434090,Michigan,County
13,0500000US29189,St.,143604,200596,172199,132165,692991,Missouri,Louis County
14,0500000US34007,Camden,100165,97254,67763,43294,350674,New Jersey,County
15,0500000US35035,Otero,12836,15793,5822,3368,44690,New Mexico,County
16,0500000US37171,Surry,NaN,NaN,NaN,NaN,NaN,North Carolina,County
17,0500000US47149,Rutherford,56714,69065,44250,17749,204884,Tennessee,County
18,0500000US48183,Gregg,23968,27834,10599,6089,80060,Texas,County
19,0500000US48347,Nacogdoches,NaN,NaN,NaN,NaN,NaN,Texas,County
20,0500000US51069,Frederick,19322,17786,9331,8341,61130,Virginia,County
21,0500000US55089,Ozaukee,12398,17890,17992,12592,62738,Wisconsin,County
22,0500000US55133,Waukesha,62897,80595,83932,45838,284512,Wisconsin,County
23,0500000US04021,Pinal,90547,116102,37962,22782,309013,Arizona,County
24,0500000US06045,Mendocino,NaN,NaN,NaN,NaN,NaN,California,County
25,0500000US06059,Orange,376454,612379,579012,321527,2194598,California,County
26,0500000US12053,Hernando,48446,49242,17061,8415,143126,Florida,County
27,0500000US12115,Sarasota,97386,102475,70580,49488,341851,Florida,County
28,0500000US12119,Sumter,34205,36024,19542,16253,115853,Florida,County
29,0500000US29183,St.,66808,85267,67001,41422,272809,Missouri,Charles County
...,...,...,...,...,...,...,...,...,...
809,0500000US22005,Ascension,NaN,NaN,NaN,NaN,NaN,Louisiana,Parish
810,0500000US26161,Washtenaw,33556,56965,63216,68024,232636,Michigan,County
811,0500000US29021,Buchanan,23209,17119,9741,3705,61276,Missouri,County
812,0500000US29077,Greene,53544,67257,33509,20964,191714,Missouri,County
813,0500000US34039,Union,102496,86609,85853,58733,380464,New Jersey,County
814,0500000US36109,Tompkins,11508,13481,12578,18457,59759,New York,County
815,0500000US37191,Wayne,24424,31256,9965,4039,82613,North Carolina,County
816,0500000US41003,Benton,8297,15479,15704,14064,55736,Oregon,County
817,0500000US41067,Washington,69866,122205,115152,69875,411794,Oregon,County
818,0500000US45003,Aiken,39815,34507,19993,11192,117939,South Carolina,County
819,0500000US51177,Spotsylvania,25944,27461,15160,12073,88629,Virginia,County
820,0500000US12069,Lake,83203,91853,40836,20843,264080,Florida,County
821,0500000US12127,Volusia,124653,144794,67714,33021,406416,Florida,County
822,0500000US34027,Morris,65130,70398,110254,84556,347332,New Jersey,County
823,0500000US36065,Oneida,52502,48849,22601,18688,160103,New York,County
824,0500000US36075,Oswego,28856,26248,9374,6732,80284,New York,County
825,0500000US37147,Pitt,26425,35426,23555,11929,111171,North Carolina,County
826,0500000US41071,Yamhill,17512,25817,13222,7691,71923,Oregon,County
827,0500000US48367,Parker,29365,28337,16372,9501,93178,Texas,County
828,0500000US53029,Island,12459,25731,12274,9067,62374,Washington,County
829,0500000US06081,San,80046,129737,168047,124179,555691,California,Mateo County
830,0500000US17019,Champaign,26144,34667,26318,27451,121007,Illinois,County
831,0500000US21029,Bullitt,NaN,NaN,NaN,NaN,NaN,Kentucky,County
832,0500000US26073,Isabella,13361,11332,6066,5146,39330,Michigan,County
833,0500000US34003,Bergen,148587,139100,204372,121357,662135,New Jersey,County
834,0500000US34041,Warren,25146,21042,16769,7985,76132,New Jersey,County
835,0500000US39003,Allen,27729,22664,6725,5182,68507,Ohio,County
836,0500000US39043,Erie,NaN,NaN,NaN,NaN,NaN,Ohio,County
837,0500000US41053,Polk,NaN,NaN,NaN,NaN,NaN,Oregon,County
838,0100000US,United,59961893,64402330,44599186,28151275,223158847,None,States

In [16]:
data2018.drop(columns=['Delete'])

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US44005,Newport,11420,14068,16578,14723,61616,Rhode Island
1,0500000US44009,Washington,19766,21277,23157,18154,87230,Rhode Island
2,0500000US45073,Oconee,15646,17493,9062,5597,56382,South Carolina
3,0500000US48187,Guadalupe,34829,31801,19914,9797,107894,Texas
4,0500000US53061,Snohomish,133029,204426,125602,60282,567618,Washington
5,0500000US72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico
6,0500000US06085,Santa,184686,293946,383232,342615,1349769,California
7,0500000US06099,Stanislaus,107960,113904,39921,18053,348796,California
8,0500000US12099,Palm,265487,297962,247498,154919,1090260,Florida
9,0500000US13117,Forsyth,26129,34887,52519,31637,154377,Georgia
10,0500000US20173,Sedgwick,85703,107309,65348,40647,334230,Kansas
11,0500000US26005,Allegan,28001,25496,11268,7379,80051,Michigan
12,0500000US26081,Kent,104826,135758,104876,53481,434090,Michigan
13,0500000US29189,St.,143604,200596,172199,132165,692991,Missouri
14,0500000US34007,Camden,100165,97254,67763,43294,350674,New Jersey
15,0500000US35035,Otero,12836,15793,5822,3368,44690,New Mexico
16,0500000US37171,Surry,NaN,NaN,NaN,NaN,NaN,North Carolina
17,0500000US47149,Rutherford,56714,69065,44250,17749,204884,Tennessee
18,0500000US48183,Gregg,23968,27834,10599,6089,80060,Texas
19,0500000US48347,Nacogdoches,NaN,NaN,NaN,NaN,NaN,Texas
20,0500000US51069,Frederick,19322,17786,9331,8341,61130,Virginia
21,0500000US55089,Ozaukee,12398,17890,17992,12592,62738,Wisconsin
22,0500000US55133,Waukesha,62897,80595,83932,45838,284512,Wisconsin
23,0500000US04021,Pinal,90547,116102,37962,22782,309013,Arizona
24,0500000US06045,Mendocino,NaN,NaN,NaN,NaN,NaN,California
25,0500000US06059,Orange,376454,612379,579012,321527,2194598,California
26,0500000US12053,Hernando,48446,49242,17061,8415,143126,Florida
27,0500000US12115,Sarasota,97386,102475,70580,49488,341851,Florida
28,0500000US12119,Sumter,34205,36024,19542,16253,115853,Florida
29,0500000US29183,St.,66808,85267,67001,41422,272809,Missouri
...,...,...,...,...,...,...,...,...
809,0500000US22005,Ascension,NaN,NaN,NaN,NaN,NaN,Louisiana
810,0500000US26161,Washtenaw,33556,56965,63216,68024,232636,Michigan
811,0500000US29021,Buchanan,23209,17119,9741,3705,61276,Missouri
812,0500000US29077,Greene,53544,67257,33509,20964,191714,Missouri
813,0500000US34039,Union,102496,86609,85853,58733,380464,New Jersey
814,0500000US36109,Tompkins,11508,13481,12578,18457,59759,New York
815,0500000US37191,Wayne,24424,31256,9965,4039,82613,North Carolina
816,0500000US41003,Benton,8297,15479,15704,14064,55736,Oregon
817,0500000US41067,Washington,69866,122205,115152,69875,411794,Oregon
818,0500000US45003,Aiken,39815,34507,19993,11192,117939,South Carolina
819,0500000US51177,Spotsylvania,25944,27461,15160,12073,88629,Virginia
820,0500000US12069,Lake,83203,91853,40836,20843,264080,Florida
821,0500000US12127,Volusia,124653,144794,67714,33021,406416,Florida
822,0500000US34027,Morris,65130,70398,110254,84556,347332,New Jersey
823,0500000US36065,Oneida,52502,48849,22601,18688,160103,New York
824,0500000US36075,Oswego,28856,26248,9374,6732,80284,New York
825,0500000US37147,Pitt,26425,35426,23555,11929,111171,North Carolina
826,0500000US41071,Yamhill,17512,25817,13222,7691,71923,Oregon
827,0500000US48367,Parker,29365,28337,16372,9501,93178,Texas
828,0500000US53029,Island,12459,25731,12274,9067,62374,Washington
829,0500000US06081,San,80046,129737,168047,124179,555691,California
830,0500000US17019,Champaign,26144,34667,26318,27451,121007,Illinois
831,0500000US21029,Bullitt,NaN,NaN,NaN,NaN,NaN,Kentucky
832,0500000US26073,Isabella,13361,11332,6066,5146,39330,Michigan
833,0500000US34003,Bergen,148587,139100,204372,121357,662135,New Jersey
834,0500000US34041,Warren,25146,21042,16769,7985,76132,New Jersey
835,0500000US39003,Allen,27729,22664,6725,5182,68507,Ohio
836,0500000US39043,Erie,NaN,NaN,NaN,NaN,NaN,Ohio
837,0500000US41053,Polk,NaN,NaN,NaN,NaN,NaN,Oregon
838,0100000US,United,59961893,64402330,44599186,28151275,223158847,None

In [17]:
splitFIPS = data2018["FIPS"].str.split("US", n = 1, expand = True)

In [18]:
splitFIPS.head()

         0      1
0  0500000  44005
1  0500000  44009
2  0500000  45073
3  0500000  48187
4  0500000  53061

In [19]:
data2018["Delete"]= splitFIPS[0] 
data2018["FIPS"]=splitFIPS[1]

In [20]:
data2018.drop(columns=['Delete'], inplace = True)

In [21]:
data2018.insert(len(data2018.columns), 'Year', 2018)

In [22]:
data2018.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State,Year
0,44005,Newport,11420,14068,16578,14723,61616,Rhode Island,2018
1,44009,Washington,19766,21277,23157,18154,87230,Rhode Island,2018
2,45073,Oconee,15646,17493,9062,5597,56382,South Carolina,2018
3,48187,Guadalupe,34829,31801,19914,9797,107894,Texas,2018
4,53061,Snohomish,133029,204426,125602,60282,567618,Washington,2018

In [23]:
path = '../dataPoints/education_2018_clean.csv'
data2018.to_csv(path,index=False)