In [1]:
import pandas as pd
import numpy as np

In [2]:
data2013_to_load = "../Education/ACSDT1Y2013.B07009_data_with_overlays_2019-12-21T130141.csv"
metadata2013_to_load = "../Education/ACSDT1Y2013.B07009_metadata_2019-12-21T130141.csv"

fulldata2013 = pd.read_csv(data2013_to_load)
metadata2013 = pd.read_csv(metadata2013_to_load)

In [3]:
fulldata2013.head()

,GEO_ID,NAME,B07009_001E,B07009_001M,B07009_002E,B07009_002M,B07009_003E,B07009_003M,B07009_004E,B07009_004M,...,B07009_032E,B07009_032M,B07009_033E,B07009_033M,B07009_034E,B07009_034M,B07009_035E,B07009_035M,B07009_036E,B07009_036M
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Less than high school graduate,Margin of Error!!Total!!Less than high school ...,Estimate!!Total!!High school graduate (include...,Margin of Error!!Total!!High school graduate (...,Estimate!!Total!!Some college or associate's d...,Margin of Error!!Total!!Some college or associ...,...,Estimate!!Total!!Moved from abroad!!Less than ...,Margin of Error!!Total!!Moved from abroad!!Les...,Estimate!!Total!!Moved from abroad!!High schoo...,Margin of Error!!Total!!Moved from abroad!!Hig...,Estimate!!Total!!Moved from abroad!!Some colle...,Margin of Error!!Total!!Moved from abroad!!Som...,Estimate!!Total!!Moved from abroad!!Bachelor's...,Margin of Error!!Total!!Moved from abroad!!Bac...,Estimate!!Total!!Moved from abroad!!Graduate o...,Margin of Error!!Total!!Moved from abroad!!Gra...
1,0500000US21195,"Pike County, Kentucky",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0500000US21227,"Warren County, Kentucky",73586,752,8595,1360,24246,2981,18306,2171,...,0,189,417,484,32,58,30,55,34,47
3,0500000US22005,"Ascension Parish, Louisiana",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0500000US22015,"Bossier Parish, Louisiana",79741,1072,10142,1928,20154,2947,25567,2424,...,123,198,225,309,145,148,0,203,0,203

In [4]:
data2013 = fulldata2013[['GEO_ID',"NAME","B07009_003E","B07009_004E","B07009_005E","B07009_006E","B07009_001E"]]

data2013 = data2013.rename(columns={"GEO_ID":"FIPS","NAME":"County",
                                        "B07009_002E":"Less Than High School Graduate",
                                        "B07009_003E":"High school graduate (includes equivalency)",
                                        "B07009_004E":"Some college or associate's degree",
                                        "B07009_005E":"Bachelor's degree",
                                        "B07009_006E":"Graduate or professional degree","B07009_001E":"Total"})

In [5]:
data2013.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,id,Geographic Area Name,Estimate!!Total!!High school graduate (include...,Estimate!!Total!!Some college or associate's d...,Estimate!!Total!!Bachelor's degree,Estimate!!Total!!Graduate or professional degree,Estimate!!Total
1,0500000US21195,"Pike County, Kentucky",NaN,NaN,NaN,NaN,NaN
2,0500000US21227,"Warren County, Kentucky",24246,18306,13381,9058,73586
3,0500000US22005,"Ascension Parish, Louisiana",NaN,NaN,NaN,NaN,NaN
4,0500000US22015,"Bossier Parish, Louisiana",20154,25567,15640,8238,79741

In [6]:
data2013=data2013.drop(index =0)

In [7]:
data2013=data2013.reset_index(drop=True)

In [8]:
data2013.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,0500000US21195,"Pike County, Kentucky",NaN,NaN,NaN,NaN,NaN
1,0500000US21227,"Warren County, Kentucky",24246,18306,13381,9058,73586
2,0500000US22005,"Ascension Parish, Louisiana",NaN,NaN,NaN,NaN,NaN
3,0500000US22015,"Bossier Parish, Louisiana",20154,25567,15640,8238,79741
4,0500000US22017,"Caddo Parish, Louisiana",56168,48533,28034,12498,167814

In [9]:
countySplit = data2013["County"].str.split(", ", n = 1, expand = True)

In [10]:
countySplit.head()

                  0          1
0       Pike County   Kentucky
1     Warren County   Kentucky
2  Ascension Parish  Louisiana
3    Bossier Parish  Louisiana
4      Caddo Parish  Louisiana

In [11]:
data2013["County"]= countySplit[0] 
data2013["State"]=countySplit[1]

In [12]:
data2013

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US21195,Pike County,NaN,NaN,NaN,NaN,NaN,Kentucky
1,0500000US21227,Warren County,24246,18306,13381,9058,73586,Kentucky
2,0500000US22005,Ascension Parish,NaN,NaN,NaN,NaN,NaN,Louisiana
3,0500000US22015,Bossier Parish,20154,25567,15640,8238,79741,Louisiana
4,0500000US22017,Caddo Parish,56168,48533,28034,12498,167814,Louisiana
5,0500000US22019,Calcasieu Parish,41314,39336,17259,8705,126961,Louisiana
6,0500000US22033,East Baton Rouge Parish,72208,82591,61530,33943,278397,Louisiana
7,0500000US22045,Iberia Parish,NaN,NaN,NaN,NaN,NaN,Louisiana
8,0500000US22051,Jefferson Parish,92791,89827,48540,24279,302511,Louisiana
9,0500000US22055,Lafayette Parish,39388,43942,30792,14773,149554,Louisiana
10,0500000US22057,Lafourche Parish,26014,11642,5800,3026,64154,Louisiana
11,0500000US22063,Livingston Parish,NaN,NaN,NaN,NaN,NaN,Louisiana
12,0500000US22071,Orleans Parish,60964,66551,52205,41552,260256,Louisiana
13,0500000US22073,Ouachita Parish,33776,28150,15274,7750,98913,Louisiana
14,0500000US22079,Rapides Parish,NaN,NaN,NaN,NaN,NaN,Louisiana
15,0500000US22097,St. Landry Parish,NaN,NaN,NaN,NaN,NaN,Louisiana
16,0500000US22103,St. Tammany Parish,42095,51970,31106,17234,163275,Louisiana
17,0500000US22105,Tangipahoa Parish,27642,20132,11203,4215,79809,Louisiana
18,0500000US22109,Terrebonne Parish,30463,16815,7028,2266,73108,Louisiana
19,0500000US23001,Androscoggin County,27965,23711,9243,4327,74205,Maine
20,0500000US23003,Aroostook County,19722,16941,6425,2387,51094,Maine
21,0500000US23005,Cumberland County,49185,58974,52422,29345,202478,Maine
22,0500000US23011,Kennebec County,31215,26368,13051,8225,86870,Maine
23,0500000US23019,Penobscot County,38718,32489,15289,9931,106755,Maine
24,0500000US23031,York County,45739,45151,28280,14659,143986,Maine
25,0500000US24001,Allegany County,NaN,NaN,NaN,NaN,NaN,Maryland
26,0500000US24003,Anne Arundel County,94172,110949,80969,59806,378611,Maryland
27,0500000US24005,Baltimore County,152666,158050,116251,86516,566661,Maryland
28,0500000US24009,Calvert County,18768,20228,10582,6242,59775,Maryland
29,0500000US24013,Carroll County,34391,33097,21508,15321,114015,Maryland
...,...,...,...,...,...,...,...,...
799,0500000US51680,Lynchburg city,10195,13837,8516,5462,44012,Virginia
800,0500000US51700,Newport News city,30773,42027,16522,10738,114975,Virginia
801,0500000US51710,Norfolk city,38536,51381,24477,14527,149372,Virginia
802,0500000US51740,Portsmouth city,19422,20790,8680,4619,63366,Virginia
803,0500000US51760,Richmond city,34127,33221,30555,20761,143471,Virginia
804,0500000US51770,Roanoke city,21171,18496,9367,6339,67656,Virginia
805,0500000US51800,Suffolk city,15479,18646,9728,6023,56126,Virginia
806,0500000US51810,Virginia Beach city,68478,110436,68131,35449,298083,Virginia
807,0500000US53005,Benton County,29628,39155,22378,12320,118182,Washington
808,0500000US53007,Chelan County,NaN,NaN,NaN,NaN,NaN,Washington
809,0500000US53009,Clallam County,14428,20884,7651,5975,54050,Washington
810,0500000US53011,Clark County,78185,111894,51185,27455,292778,Washington
811,0500000US53015,Cowlitz County,21662,30069,6939,4016,70373,Washington
812,0500000US53021,Franklin County,NaN,NaN,NaN,NaN,NaN,Washington
813,0500000US53025,Grant County,NaN,NaN,NaN,NaN,NaN,Washington
814,0500000US53027,Grays Harbor County,16595,20325,5145,2062,50375,Washington
815,0500000US53029,Island County,11486,22995,11668,6048,55854,Washington
816,0500000US53033,King County,237399,396891,430662,258019,1432657,Washington
817,0500000US53035,Kitsap County,38173,71458,35945,17601,173179,Washington
818,0500000US53041,Lewis County,18460,21399,4673,1821,52704,Washington
819,0500000US53053,Pierce County,148682,200856,87882,49306,540845,Washington
820,0500000US53057,Skagit County,22563,30817,11358,8033,81818,Washington
821,0500000US53061,Snohomish County,117693,193395,106972,45209,506228,Washington
822,0500000US53063,Spokane County,86764,121618,55815,30182,320633,Washington
823,0500000US53067,Thurston County,43333,65315,34021,23404,179667,Washington
824,0500000US53073,Whatcom County,29491,47467,27435,15087,132094,Washington
825,0500000US53077,Yakima County,42010,44008,14242,8751,147923,Washington
826,0500000US72021,BayamÃ³n Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
827,0500000US72097,MayagÃ¼ez Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
828,0100000US,United States,58659473,61516533,38881973,23584410,210910615,None

In [13]:
countyDelete = data2013["County"].str.split(" ", n = 1, expand = True)

In [14]:
data2013["County"]= countyDelete[0] 
data2013["Delete"]=countyDelete[1]

In [15]:
data2013

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State,Delete
0,0500000US21195,Pike,NaN,NaN,NaN,NaN,NaN,Kentucky,County
1,0500000US21227,Warren,24246,18306,13381,9058,73586,Kentucky,County
2,0500000US22005,Ascension,NaN,NaN,NaN,NaN,NaN,Louisiana,Parish
3,0500000US22015,Bossier,20154,25567,15640,8238,79741,Louisiana,Parish
4,0500000US22017,Caddo,56168,48533,28034,12498,167814,Louisiana,Parish
5,0500000US22019,Calcasieu,41314,39336,17259,8705,126961,Louisiana,Parish
6,0500000US22033,East,72208,82591,61530,33943,278397,Louisiana,Baton Rouge Parish
7,0500000US22045,Iberia,NaN,NaN,NaN,NaN,NaN,Louisiana,Parish
8,0500000US22051,Jefferson,92791,89827,48540,24279,302511,Louisiana,Parish
9,0500000US22055,Lafayette,39388,43942,30792,14773,149554,Louisiana,Parish
10,0500000US22057,Lafourche,26014,11642,5800,3026,64154,Louisiana,Parish
11,0500000US22063,Livingston,NaN,NaN,NaN,NaN,NaN,Louisiana,Parish
12,0500000US22071,Orleans,60964,66551,52205,41552,260256,Louisiana,Parish
13,0500000US22073,Ouachita,33776,28150,15274,7750,98913,Louisiana,Parish
14,0500000US22079,Rapides,NaN,NaN,NaN,NaN,NaN,Louisiana,Parish
15,0500000US22097,St.,NaN,NaN,NaN,NaN,NaN,Louisiana,Landry Parish
16,0500000US22103,St.,42095,51970,31106,17234,163275,Louisiana,Tammany Parish
17,0500000US22105,Tangipahoa,27642,20132,11203,4215,79809,Louisiana,Parish
18,0500000US22109,Terrebonne,30463,16815,7028,2266,73108,Louisiana,Parish
19,0500000US23001,Androscoggin,27965,23711,9243,4327,74205,Maine,County
20,0500000US23003,Aroostook,19722,16941,6425,2387,51094,Maine,County
21,0500000US23005,Cumberland,49185,58974,52422,29345,202478,Maine,County
22,0500000US23011,Kennebec,31215,26368,13051,8225,86870,Maine,County
23,0500000US23019,Penobscot,38718,32489,15289,9931,106755,Maine,County
24,0500000US23031,York,45739,45151,28280,14659,143986,Maine,County
25,0500000US24001,Allegany,NaN,NaN,NaN,NaN,NaN,Maryland,County
26,0500000US24003,Anne,94172,110949,80969,59806,378611,Maryland,Arundel County
27,0500000US24005,Baltimore,152666,158050,116251,86516,566661,Maryland,County
28,0500000US24009,Calvert,18768,20228,10582,6242,59775,Maryland,County
29,0500000US24013,Carroll,34391,33097,21508,15321,114015,Maryland,County
...,...,...,...,...,...,...,...,...,...
799,0500000US51680,Lynchburg,10195,13837,8516,5462,44012,Virginia,city
800,0500000US51700,Newport,30773,42027,16522,10738,114975,Virginia,News city
801,0500000US51710,Norfolk,38536,51381,24477,14527,149372,Virginia,city
802,0500000US51740,Portsmouth,19422,20790,8680,4619,63366,Virginia,city
803,0500000US51760,Richmond,34127,33221,30555,20761,143471,Virginia,city
804,0500000US51770,Roanoke,21171,18496,9367,6339,67656,Virginia,city
805,0500000US51800,Suffolk,15479,18646,9728,6023,56126,Virginia,city
806,0500000US51810,Virginia,68478,110436,68131,35449,298083,Virginia,Beach city
807,0500000US53005,Benton,29628,39155,22378,12320,118182,Washington,County
808,0500000US53007,Chelan,NaN,NaN,NaN,NaN,NaN,Washington,County
809,0500000US53009,Clallam,14428,20884,7651,5975,54050,Washington,County
810,0500000US53011,Clark,78185,111894,51185,27455,292778,Washington,County
811,0500000US53015,Cowlitz,21662,30069,6939,4016,70373,Washington,County
812,0500000US53021,Franklin,NaN,NaN,NaN,NaN,NaN,Washington,County
813,0500000US53025,Grant,NaN,NaN,NaN,NaN,NaN,Washington,County
814,0500000US53027,Grays,16595,20325,5145,2062,50375,Washington,Harbor County
815,0500000US53029,Island,11486,22995,11668,6048,55854,Washington,County
816,0500000US53033,King,237399,396891,430662,258019,1432657,Washington,County
817,0500000US53035,Kitsap,38173,71458,35945,17601,173179,Washington,County
818,0500000US53041,Lewis,18460,21399,4673,1821,52704,Washington,County
819,0500000US53053,Pierce,148682,200856,87882,49306,540845,Washington,County
820,0500000US53057,Skagit,22563,30817,11358,8033,81818,Washington,County
821,0500000US53061,Snohomish,117693,193395,106972,45209,506228,Washington,County
822,0500000US53063,Spokane,86764,121618,55815,30182,320633,Washington,County
823,0500000US53067,Thurston,43333,65315,34021,23404,179667,Washington,County
824,0500000US53073,Whatcom,29491,47467,27435,15087,132094,Washington,County
825,0500000US53077,Yakima,42010,44008,14242,8751,147923,Washington,County
826,0500000US72021,BayamÃ³n,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
827,0500000US72097,MayagÃ¼ez,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
828,0100000US,United,58659473,61516533,38881973,23584410,210910615,None,States

In [16]:
data2013.drop(columns=['Delete'])

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US21195,Pike,NaN,NaN,NaN,NaN,NaN,Kentucky
1,0500000US21227,Warren,24246,18306,13381,9058,73586,Kentucky
2,0500000US22005,Ascension,NaN,NaN,NaN,NaN,NaN,Louisiana
3,0500000US22015,Bossier,20154,25567,15640,8238,79741,Louisiana
4,0500000US22017,Caddo,56168,48533,28034,12498,167814,Louisiana
5,0500000US22019,Calcasieu,41314,39336,17259,8705,126961,Louisiana
6,0500000US22033,East,72208,82591,61530,33943,278397,Louisiana
7,0500000US22045,Iberia,NaN,NaN,NaN,NaN,NaN,Louisiana
8,0500000US22051,Jefferson,92791,89827,48540,24279,302511,Louisiana
9,0500000US22055,Lafayette,39388,43942,30792,14773,149554,Louisiana
10,0500000US22057,Lafourche,26014,11642,5800,3026,64154,Louisiana
11,0500000US22063,Livingston,NaN,NaN,NaN,NaN,NaN,Louisiana
12,0500000US22071,Orleans,60964,66551,52205,41552,260256,Louisiana
13,0500000US22073,Ouachita,33776,28150,15274,7750,98913,Louisiana
14,0500000US22079,Rapides,NaN,NaN,NaN,NaN,NaN,Louisiana
15,0500000US22097,St.,NaN,NaN,NaN,NaN,NaN,Louisiana
16,0500000US22103,St.,42095,51970,31106,17234,163275,Louisiana
17,0500000US22105,Tangipahoa,27642,20132,11203,4215,79809,Louisiana
18,0500000US22109,Terrebonne,30463,16815,7028,2266,73108,Louisiana
19,0500000US23001,Androscoggin,27965,23711,9243,4327,74205,Maine
20,0500000US23003,Aroostook,19722,16941,6425,2387,51094,Maine
21,0500000US23005,Cumberland,49185,58974,52422,29345,202478,Maine
22,0500000US23011,Kennebec,31215,26368,13051,8225,86870,Maine
23,0500000US23019,Penobscot,38718,32489,15289,9931,106755,Maine
24,0500000US23031,York,45739,45151,28280,14659,143986,Maine
25,0500000US24001,Allegany,NaN,NaN,NaN,NaN,NaN,Maryland
26,0500000US24003,Anne,94172,110949,80969,59806,378611,Maryland
27,0500000US24005,Baltimore,152666,158050,116251,86516,566661,Maryland
28,0500000US24009,Calvert,18768,20228,10582,6242,59775,Maryland
29,0500000US24013,Carroll,34391,33097,21508,15321,114015,Maryland
...,...,...,...,...,...,...,...,...
799,0500000US51680,Lynchburg,10195,13837,8516,5462,44012,Virginia
800,0500000US51700,Newport,30773,42027,16522,10738,114975,Virginia
801,0500000US51710,Norfolk,38536,51381,24477,14527,149372,Virginia
802,0500000US51740,Portsmouth,19422,20790,8680,4619,63366,Virginia
803,0500000US51760,Richmond,34127,33221,30555,20761,143471,Virginia
804,0500000US51770,Roanoke,21171,18496,9367,6339,67656,Virginia
805,0500000US51800,Suffolk,15479,18646,9728,6023,56126,Virginia
806,0500000US51810,Virginia,68478,110436,68131,35449,298083,Virginia
807,0500000US53005,Benton,29628,39155,22378,12320,118182,Washington
808,0500000US53007,Chelan,NaN,NaN,NaN,NaN,NaN,Washington
809,0500000US53009,Clallam,14428,20884,7651,5975,54050,Washington
810,0500000US53011,Clark,78185,111894,51185,27455,292778,Washington
811,0500000US53015,Cowlitz,21662,30069,6939,4016,70373,Washington
812,0500000US53021,Franklin,NaN,NaN,NaN,NaN,NaN,Washington
813,0500000US53025,Grant,NaN,NaN,NaN,NaN,NaN,Washington
814,0500000US53027,Grays,16595,20325,5145,2062,50375,Washington
815,0500000US53029,Island,11486,22995,11668,6048,55854,Washington
816,0500000US53033,King,237399,396891,430662,258019,1432657,Washington
817,0500000US53035,Kitsap,38173,71458,35945,17601,173179,Washington
818,0500000US53041,Lewis,18460,21399,4673,1821,52704,Washington
819,0500000US53053,Pierce,148682,200856,87882,49306,540845,Washington
820,0500000US53057,Skagit,22563,30817,11358,8033,81818,Washington
821,0500000US53061,Snohomish,117693,193395,106972,45209,506228,Washington
822,0500000US53063,Spokane,86764,121618,55815,30182,320633,Washington
823,0500000US53067,Thurston,43333,65315,34021,23404,179667,Washington
824,0500000US53073,Whatcom,29491,47467,27435,15087,132094,Washington
825,0500000US53077,Yakima,42010,44008,14242,8751,147923,Washington
826,0500000US72021,BayamÃ³n,NaN,NaN,NaN,NaN,NaN,Puerto Rico
827,0500000US72097,MayagÃ¼ez,NaN,NaN,NaN,NaN,NaN,Puerto Rico
828,0100000US,United,58659473,61516533,38881973,23584410,210910615,None

In [17]:
splitFIPS = data2013["FIPS"].str.split("US", n = 1, expand = True)

In [18]:
splitFIPS.head()

         0      1
0  0500000  21195
1  0500000  21227
2  0500000  22005
3  0500000  22015
4  0500000  22017

In [19]:
data2013["Delete"]= splitFIPS[0] 
data2013["FIPS"]=splitFIPS[1]

In [20]:
data2013.drop(columns=['Delete'], inplace = True)

In [21]:
data2013.insert(len(data2013.columns), 'Year', 2013)

In [22]:
data2013.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State,Year
0,21195,Pike,NaN,NaN,NaN,NaN,NaN,Kentucky,2013
1,21227,Warren,24246,18306,13381,9058,73586,Kentucky,2013
2,22005,Ascension,NaN,NaN,NaN,NaN,NaN,Louisiana,2013
3,22015,Bossier,20154,25567,15640,8238,79741,Louisiana,2013
4,22017,Caddo,56168,48533,28034,12498,167814,Louisiana,2013

In [23]:
path = '../dataPoints/education_2013_clean.csv'
data2013.to_csv(path,index=False)