In [1]:
import pandas as pd
import numpy as np

In [2]:
data2010_to_load = "../Education/ACSDT1Y2010.B07009_data_with_overlays_2019-12-21T130141.csv"
metadata2010_to_load = "../Education/ACSDT1Y2010.B07009_metadata_2019-12-21T130141.csv"

fulldata2010 = pd.read_csv(data2010_to_load)
metadata2010 = pd.read_csv(metadata2010_to_load)

In [3]:
fulldata2010.head()

,GEO_ID,NAME,B07009_001E,B07009_001M,B07009_002E,B07009_002M,B07009_003E,B07009_003M,B07009_004E,B07009_004M,...,B07009_032E,B07009_032M,B07009_033E,B07009_033M,B07009_034E,B07009_034M,B07009_035E,B07009_035M,B07009_036E,B07009_036M
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Less than high school graduate,Margin of Error!!Total!!Less than high school ...,Estimate!!Total!!High school graduate (include...,Margin of Error!!Total!!High school graduate (...,Estimate!!Total!!Some college or associate's d...,Margin of Error!!Total!!Some college or associ...,...,Estimate!!Total!!Moved from abroad!!Less than ...,Margin of Error!!Total!!Moved from abroad!!Les...,Estimate!!Total!!Moved from abroad!!High schoo...,Margin of Error!!Total!!Moved from abroad!!Hig...,Estimate!!Total!!Moved from abroad!!Some colle...,Margin of Error!!Total!!Moved from abroad!!Som...,Estimate!!Total!!Moved from abroad!!Bachelor's...,Margin of Error!!Total!!Moved from abroad!!Bac...,Estimate!!Total!!Moved from abroad!!Graduate o...,Margin of Error!!Total!!Moved from abroad!!Gra...
1,0500000US39151,"Stark County, Ohio",257180,604,26642,2381,101691,3555,76085,3345,...,0,269,55,91,0,269,205,205,0,269
2,0500000US39153,"Summit County, Ohio",368591,1155,39680,3805,117485,4790,101467,4806,...,381,405,49,80,87,98,487,675,340,268
3,0500000US39155,"Trumbull County, Ohio",146951,588,17002,1717,65031,2887,38810,2477,...,0,269,82,93,105,171,54,91,0,269
4,0500000US39157,"Tuscarawas County, Ohio",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data2010 = fulldata2010[['GEO_ID',"NAME","B07009_003E","B07009_004E","B07009_005E","B07009_006E","B07009_001E"]]

data2010 = data2010.rename(columns={"GEO_ID":"FIPS","NAME":"County",
                                        "B07009_002E":"Less Than High School Graduate",
                                        "B07009_003E":"High school graduate (includes equivalency)",
                                        "B07009_004E":"Some college or associate's degree",
                                        "B07009_005E":"Bachelor's degree",
                                        "B07009_006E":"Graduate or professional degree","B07009_001E":"Total"})

In [5]:
data2010.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,id,Geographic Area Name,Estimate!!Total!!High school graduate (include...,Estimate!!Total!!Some college or associate's d...,Estimate!!Total!!Bachelor's degree,Estimate!!Total!!Graduate or professional degree,Estimate!!Total
1,0500000US39151,"Stark County, Ohio",101691,76085,34464,18298,257180
2,0500000US39153,"Summit County, Ohio",117485,101467,72991,36968,368591
3,0500000US39155,"Trumbull County, Ohio",65031,38810,17832,8276,146951
4,0500000US39157,"Tuscarawas County, Ohio",NaN,NaN,NaN,NaN,NaN

In [6]:
data2010=data2010.drop(index =0)

In [7]:
data2010=data2010.reset_index(drop=True)

In [8]:
data2010.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total
0,0500000US39151,"Stark County, Ohio",101691,76085,34464,18298,257180
1,0500000US39153,"Summit County, Ohio",117485,101467,72991,36968,368591
2,0500000US39155,"Trumbull County, Ohio",65031,38810,17832,8276,146951
3,0500000US39157,"Tuscarawas County, Ohio",NaN,NaN,NaN,NaN,NaN
4,0500000US39165,"Warren County, Ohio",39738,37463,34109,16373,139899

In [9]:
countySplit = data2010["County"].str.split(", ", n = 1, expand = True)

In [10]:
countySplit.head()

                   0     1
0       Stark County  Ohio
1      Summit County  Ohio
2    Trumbull County  Ohio
3  Tuscarawas County  Ohio
4      Warren County  Ohio

In [11]:
data2010["County"]= countySplit[0] 
data2010["State"]=countySplit[1]

In [12]:
data2010

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US39151,Stark County,101691,76085,34464,18298,257180,Ohio
1,0500000US39153,Summit County,117485,101467,72991,36968,368591,Ohio
2,0500000US39155,Trumbull County,65031,38810,17832,8276,146951,Ohio
3,0500000US39157,Tuscarawas County,NaN,NaN,NaN,NaN,NaN,Ohio
4,0500000US39165,Warren County,39738,37463,34109,16373,139899,Ohio
5,0500000US39169,Wayne County,NaN,NaN,NaN,NaN,NaN,Ohio
6,0500000US39173,Wood County,23497,26217,13361,8689,77700,Ohio
7,0500000US40017,Canadian County,19998,29688,14481,5498,76200,Oklahoma
8,0500000US40027,Cleveland County,44294,53026,31444,19825,162641,Oklahoma
9,0500000US40031,Comanche County,27245,27047,8799,4975,77273,Oklahoma
10,0500000US40037,Creek County,18742,14274,6044,1698,47181,Oklahoma
11,0500000US40101,Muskogee County,15282,16356,5417,2949,47111,Oklahoma
12,0500000US40109,Oklahoma County,120367,145691,86792,44344,463970,Oklahoma
13,0500000US40119,Payne County,9796,14023,9320,5819,43115,Oklahoma
14,0500000US40125,Pottawatomie County,NaN,NaN,NaN,NaN,NaN,Oklahoma
15,0500000US40131,Rogers County,18489,19351,9351,3499,56930,Oklahoma
16,0500000US40143,Tulsa County,105102,129653,74957,36083,392555,Oklahoma
17,0500000US40145,Wagoner County,NaN,NaN,NaN,NaN,NaN,Oklahoma
18,0500000US41003,Benton County,8136,14939,13112,11077,50386,Oregon
19,0500000US41005,Clackamas County,63685,95710,49846,27417,259973,Oregon
20,0500000US41017,Deschutes County,24628,44384,22891,10387,109851,Oregon
21,0500000US41019,Douglas County,24835,29232,8131,4396,77578,Oregon
22,0500000US41029,Jackson County,40406,53222,21539,12248,142279,Oregon
23,0500000US41033,Josephine County,NaN,NaN,NaN,NaN,NaN,Oregon
24,0500000US41035,Klamath County,13905,16849,5322,2684,45030,Oregon
25,0500000US41039,Lane County,58653,89169,39682,26552,237274,Oregon
26,0500000US41043,Linn County,25021,31886,11039,3592,79626,Oregon
27,0500000US41047,Marion County,54749,70014,26091,17099,202630,Oregon
28,0500000US41051,Multnomah County,104545,156551,122376,73180,514805,Oregon
29,0500000US41053,Polk County,NaN,NaN,NaN,NaN,NaN,Oregon
...,...,...,...,...,...,...,...,...
789,0500000US55063,La Crosse County,21336,24123,13209,8642,72383,Wisconsin
790,0500000US55071,Manitowoc County,NaN,NaN,NaN,NaN,NaN,Wisconsin
791,0500000US55073,Marathon County,34754,27620,13204,5300,90298,Wisconsin
792,0500000US55079,Milwaukee County,178416,172980,105756,59247,604316,Wisconsin
793,0500000US55087,Outagamie County,38927,38812,22288,8888,117228,Wisconsin
794,0500000US55089,Ozaukee County,12170,17163,16003,12110,59511,Wisconsin
795,0500000US55097,Portage County,NaN,NaN,NaN,NaN,NaN,Wisconsin
796,0500000US55101,Racine County,45337,39039,19829,10893,130899,Wisconsin
797,0500000US55105,Rock County,39262,32717,13748,7169,106257,Wisconsin
798,0500000US55109,St. Croix County,16564,19300,12084,5678,55834,Wisconsin
799,0500000US55117,Sheboygan County,31163,24048,10602,5214,78941,Wisconsin
800,0500000US55127,Walworth County,23951,20166,9870,5365,66093,Wisconsin
801,0500000US55131,Washington County,30239,31348,15202,6528,90336,Wisconsin
802,0500000US55133,Waukesha County,67738,80141,73420,36223,268573,Wisconsin
803,0500000US55139,Winnebago County,40293,36623,16786,8054,112197,Wisconsin
804,0500000US55141,Wood County,19440,18703,5787,3972,52323,Wisconsin
805,0500000US56021,Laramie County,NaN,NaN,NaN,NaN,NaN,Wyoming
806,0500000US56025,Natrona County,16738,20194,6308,2798,50557,Wyoming
807,0500000US72013,Arecibo Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
808,0500000US72025,Caguas Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
809,0500000US72031,Carolina Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
810,0500000US72061,Guaynabo Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
811,0500000US72113,Ponce Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
812,0500000US72127,San Juan Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
813,0500000US72135,Toa Alta Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
814,0500000US72137,Toa Baja Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
815,0500000US72139,Trujillo Alto Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
816,0500000US72021,BayamÃ³n Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
817,0500000US72097,MayagÃ¼ez Municipio,NaN,NaN,NaN,NaN,NaN,Puerto Rico
818,0100000US,United States,58225602,59022274,36244474,21333568,204288933,None

In [13]:
countyDelete = data2010["County"].str.split(" ", n = 1, expand = True)

In [14]:
data2010["County"]= countyDelete[0] 
data2010["Delete"]=countyDelete[1]

In [15]:
data2010

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State,Delete
0,0500000US39151,Stark,101691,76085,34464,18298,257180,Ohio,County
1,0500000US39153,Summit,117485,101467,72991,36968,368591,Ohio,County
2,0500000US39155,Trumbull,65031,38810,17832,8276,146951,Ohio,County
3,0500000US39157,Tuscarawas,NaN,NaN,NaN,NaN,NaN,Ohio,County
4,0500000US39165,Warren,39738,37463,34109,16373,139899,Ohio,County
5,0500000US39169,Wayne,NaN,NaN,NaN,NaN,NaN,Ohio,County
6,0500000US39173,Wood,23497,26217,13361,8689,77700,Ohio,County
7,0500000US40017,Canadian,19998,29688,14481,5498,76200,Oklahoma,County
8,0500000US40027,Cleveland,44294,53026,31444,19825,162641,Oklahoma,County
9,0500000US40031,Comanche,27245,27047,8799,4975,77273,Oklahoma,County
10,0500000US40037,Creek,18742,14274,6044,1698,47181,Oklahoma,County
11,0500000US40101,Muskogee,15282,16356,5417,2949,47111,Oklahoma,County
12,0500000US40109,Oklahoma,120367,145691,86792,44344,463970,Oklahoma,County
13,0500000US40119,Payne,9796,14023,9320,5819,43115,Oklahoma,County
14,0500000US40125,Pottawatomie,NaN,NaN,NaN,NaN,NaN,Oklahoma,County
15,0500000US40131,Rogers,18489,19351,9351,3499,56930,Oklahoma,County
16,0500000US40143,Tulsa,105102,129653,74957,36083,392555,Oklahoma,County
17,0500000US40145,Wagoner,NaN,NaN,NaN,NaN,NaN,Oklahoma,County
18,0500000US41003,Benton,8136,14939,13112,11077,50386,Oregon,County
19,0500000US41005,Clackamas,63685,95710,49846,27417,259973,Oregon,County
20,0500000US41017,Deschutes,24628,44384,22891,10387,109851,Oregon,County
21,0500000US41019,Douglas,24835,29232,8131,4396,77578,Oregon,County
22,0500000US41029,Jackson,40406,53222,21539,12248,142279,Oregon,County
23,0500000US41033,Josephine,NaN,NaN,NaN,NaN,NaN,Oregon,County
24,0500000US41035,Klamath,13905,16849,5322,2684,45030,Oregon,County
25,0500000US41039,Lane,58653,89169,39682,26552,237274,Oregon,County
26,0500000US41043,Linn,25021,31886,11039,3592,79626,Oregon,County
27,0500000US41047,Marion,54749,70014,26091,17099,202630,Oregon,County
28,0500000US41051,Multnomah,104545,156551,122376,73180,514805,Oregon,County
29,0500000US41053,Polk,NaN,NaN,NaN,NaN,NaN,Oregon,County
...,...,...,...,...,...,...,...,...,...
789,0500000US55063,La,21336,24123,13209,8642,72383,Wisconsin,Crosse County
790,0500000US55071,Manitowoc,NaN,NaN,NaN,NaN,NaN,Wisconsin,County
791,0500000US55073,Marathon,34754,27620,13204,5300,90298,Wisconsin,County
792,0500000US55079,Milwaukee,178416,172980,105756,59247,604316,Wisconsin,County
793,0500000US55087,Outagamie,38927,38812,22288,8888,117228,Wisconsin,County
794,0500000US55089,Ozaukee,12170,17163,16003,12110,59511,Wisconsin,County
795,0500000US55097,Portage,NaN,NaN,NaN,NaN,NaN,Wisconsin,County
796,0500000US55101,Racine,45337,39039,19829,10893,130899,Wisconsin,County
797,0500000US55105,Rock,39262,32717,13748,7169,106257,Wisconsin,County
798,0500000US55109,St.,16564,19300,12084,5678,55834,Wisconsin,Croix County
799,0500000US55117,Sheboygan,31163,24048,10602,5214,78941,Wisconsin,County
800,0500000US55127,Walworth,23951,20166,9870,5365,66093,Wisconsin,County
801,0500000US55131,Washington,30239,31348,15202,6528,90336,Wisconsin,County
802,0500000US55133,Waukesha,67738,80141,73420,36223,268573,Wisconsin,County
803,0500000US55139,Winnebago,40293,36623,16786,8054,112197,Wisconsin,County
804,0500000US55141,Wood,19440,18703,5787,3972,52323,Wisconsin,County
805,0500000US56021,Laramie,NaN,NaN,NaN,NaN,NaN,Wyoming,County
806,0500000US56025,Natrona,16738,20194,6308,2798,50557,Wyoming,County
807,0500000US72013,Arecibo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
808,0500000US72025,Caguas,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
809,0500000US72031,Carolina,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
810,0500000US72061,Guaynabo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
811,0500000US72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
812,0500000US72127,San,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Juan Municipio
813,0500000US72135,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Alta Municipio
814,0500000US72137,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Baja Municipio
815,0500000US72139,Trujillo,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Alto Municipio
816,0500000US72021,BayamÃ³n,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
817,0500000US72097,MayagÃ¼ez,NaN,NaN,NaN,NaN,NaN,Puerto Rico,Municipio
818,0100000US,United,58225602,59022274,36244474,21333568,204288933,None,States

In [16]:
data2010.drop(columns=['Delete'])

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State
0,0500000US39151,Stark,101691,76085,34464,18298,257180,Ohio
1,0500000US39153,Summit,117485,101467,72991,36968,368591,Ohio
2,0500000US39155,Trumbull,65031,38810,17832,8276,146951,Ohio
3,0500000US39157,Tuscarawas,NaN,NaN,NaN,NaN,NaN,Ohio
4,0500000US39165,Warren,39738,37463,34109,16373,139899,Ohio
5,0500000US39169,Wayne,NaN,NaN,NaN,NaN,NaN,Ohio
6,0500000US39173,Wood,23497,26217,13361,8689,77700,Ohio
7,0500000US40017,Canadian,19998,29688,14481,5498,76200,Oklahoma
8,0500000US40027,Cleveland,44294,53026,31444,19825,162641,Oklahoma
9,0500000US40031,Comanche,27245,27047,8799,4975,77273,Oklahoma
10,0500000US40037,Creek,18742,14274,6044,1698,47181,Oklahoma
11,0500000US40101,Muskogee,15282,16356,5417,2949,47111,Oklahoma
12,0500000US40109,Oklahoma,120367,145691,86792,44344,463970,Oklahoma
13,0500000US40119,Payne,9796,14023,9320,5819,43115,Oklahoma
14,0500000US40125,Pottawatomie,NaN,NaN,NaN,NaN,NaN,Oklahoma
15,0500000US40131,Rogers,18489,19351,9351,3499,56930,Oklahoma
16,0500000US40143,Tulsa,105102,129653,74957,36083,392555,Oklahoma
17,0500000US40145,Wagoner,NaN,NaN,NaN,NaN,NaN,Oklahoma
18,0500000US41003,Benton,8136,14939,13112,11077,50386,Oregon
19,0500000US41005,Clackamas,63685,95710,49846,27417,259973,Oregon
20,0500000US41017,Deschutes,24628,44384,22891,10387,109851,Oregon
21,0500000US41019,Douglas,24835,29232,8131,4396,77578,Oregon
22,0500000US41029,Jackson,40406,53222,21539,12248,142279,Oregon
23,0500000US41033,Josephine,NaN,NaN,NaN,NaN,NaN,Oregon
24,0500000US41035,Klamath,13905,16849,5322,2684,45030,Oregon
25,0500000US41039,Lane,58653,89169,39682,26552,237274,Oregon
26,0500000US41043,Linn,25021,31886,11039,3592,79626,Oregon
27,0500000US41047,Marion,54749,70014,26091,17099,202630,Oregon
28,0500000US41051,Multnomah,104545,156551,122376,73180,514805,Oregon
29,0500000US41053,Polk,NaN,NaN,NaN,NaN,NaN,Oregon
...,...,...,...,...,...,...,...,...
789,0500000US55063,La,21336,24123,13209,8642,72383,Wisconsin
790,0500000US55071,Manitowoc,NaN,NaN,NaN,NaN,NaN,Wisconsin
791,0500000US55073,Marathon,34754,27620,13204,5300,90298,Wisconsin
792,0500000US55079,Milwaukee,178416,172980,105756,59247,604316,Wisconsin
793,0500000US55087,Outagamie,38927,38812,22288,8888,117228,Wisconsin
794,0500000US55089,Ozaukee,12170,17163,16003,12110,59511,Wisconsin
795,0500000US55097,Portage,NaN,NaN,NaN,NaN,NaN,Wisconsin
796,0500000US55101,Racine,45337,39039,19829,10893,130899,Wisconsin
797,0500000US55105,Rock,39262,32717,13748,7169,106257,Wisconsin
798,0500000US55109,St.,16564,19300,12084,5678,55834,Wisconsin
799,0500000US55117,Sheboygan,31163,24048,10602,5214,78941,Wisconsin
800,0500000US55127,Walworth,23951,20166,9870,5365,66093,Wisconsin
801,0500000US55131,Washington,30239,31348,15202,6528,90336,Wisconsin
802,0500000US55133,Waukesha,67738,80141,73420,36223,268573,Wisconsin
803,0500000US55139,Winnebago,40293,36623,16786,8054,112197,Wisconsin
804,0500000US55141,Wood,19440,18703,5787,3972,52323,Wisconsin
805,0500000US56021,Laramie,NaN,NaN,NaN,NaN,NaN,Wyoming
806,0500000US56025,Natrona,16738,20194,6308,2798,50557,Wyoming
807,0500000US72013,Arecibo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
808,0500000US72025,Caguas,NaN,NaN,NaN,NaN,NaN,Puerto Rico
809,0500000US72031,Carolina,NaN,NaN,NaN,NaN,NaN,Puerto Rico
810,0500000US72061,Guaynabo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
811,0500000US72113,Ponce,NaN,NaN,NaN,NaN,NaN,Puerto Rico
812,0500000US72127,San,NaN,NaN,NaN,NaN,NaN,Puerto Rico
813,0500000US72135,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico
814,0500000US72137,Toa,NaN,NaN,NaN,NaN,NaN,Puerto Rico
815,0500000US72139,Trujillo,NaN,NaN,NaN,NaN,NaN,Puerto Rico
816,0500000US72021,BayamÃ³n,NaN,NaN,NaN,NaN,NaN,Puerto Rico
817,0500000US72097,MayagÃ¼ez,NaN,NaN,NaN,NaN,NaN,Puerto Rico
818,0100000US,United,58225602,59022274,36244474,21333568,204288933,None

In [17]:
splitFIPS = data2010["FIPS"].str.split("US", n = 1, expand = True)

In [18]:
splitFIPS.head()

         0      1
0  0500000  39151
1  0500000  39153
2  0500000  39155
3  0500000  39157
4  0500000  39165

In [19]:
data2010["Delete"]= splitFIPS[0] 
data2010["FIPS"]=splitFIPS[1]

In [20]:
data2010.insert(len(data2010.columns), 'Year', 2010)

In [23]:
data2010.drop(columns=['Delete'], inplace = True)

In [24]:
data2010.head()

,FIPS,County,High school graduate (includes equivalency),Some college or associate's degree,Bachelor's degree,Graduate or professional degree,Total,State,Year
0,39151,Stark,101691,76085,34464,18298,257180,Ohio,2010
1,39153,Summit,117485,101467,72991,36968,368591,Ohio,2010
2,39155,Trumbull,65031,38810,17832,8276,146951,Ohio,2010
3,39157,Tuscarawas,NaN,NaN,NaN,NaN,NaN,Ohio,2010
4,39165,Warren,39738,37463,34109,16373,139899,Ohio,2010

In [25]:
path = '../dataPoints/education_2010_clean.csv'
data2010.to_csv(path,index=False)