In [32]:
import pandas as pd

In [62]:
# Get File
path = r'C:\Users\Owner\Documents\School\Homework\Election2020-Rice\douNotebooks\GDP_per_capita_2012_2015.csv'
gdppc_df = pd.read_csv(path)
gdppc_df.head()

,Info,Unnamed: 1,Unnamed: 2,Unnamed: 3,Population,Unnamed: 5,Unnamed: 6,Unnamed: 7,"All Industry GDP ($, thousands)",Unnamed: 9,Unnamed: 10,Unnamed: 11,GDP Per Capita ($),Unnamed: 13,Unnamed: 14,Unnamed: 15,Percent Change in GDP Per Capita,Unnamed: 17
0,CODE,County Name,State,Size,2012,2013,2014,2015,2012,2013,2014,2015,2012.00000,2013.00000,2014.00000,2015.00000,Change (2012-2015),Change (2014-2015)
1,6037,Los Angeles,CA,Large,9956152,10018604,10072695,10123248,593671075,617139519,654038890,691948578,59628.56684,61599.35246,64931.86679,68352.42780,14.6%,5.3%
2,17031,Cook,IL,Large,5237174,5250498,5253756,5245831,352175982,357645409,367251284,382626329,67245.42320,68116.47371,69902.61520,72939.12614,8.5%,4.3%
3,48201,Harris,TX,Large,4262689,4353517,4452695,4551362,377095884,395892886,402388140,395784448,88464.32006,90936.33630,90369.57169,86959.56243,-1.7%,-3.8%
4,4013,Maricopa,AZ,Large,3939776,4006307,4076708,4154076,191057142,197090923,204933478,215381372,48494.41745,49195.16228,50269.35410,51848.20210,6.9%,3.1%

In [66]:
# gdppc_df0 = gdppc_df.rename(columns=gdppc_df.iloc[0])
# gdppc_df0.drop(gdppc_df.index[0]).head()
gdppc_df.dtypes
gdppc_df.dropna(inplace=True)

In [68]:
# Make Sure FIPS are 5 Digits
# Make Int a String, already a string???
gdppc_df['Info'] = gdppc_df['Info'].astype(str)
#Drop random .0's 
#df['ID'] = df['ID'].astype(str).replace('\.0', '', regex=True)
gdppc_df['Info'] = gdppc_df['Info'].replace('\.0', '', regex=True)

In [69]:
# If FIPS String is 4 Digits Long- Add 0 to Beginning

gdppc_df.insert(len(gdppc_df.columns), 'Add Zero FIPS', '0' + gdppc_df['Info'])

gdppc_df.loc[gdppc_df['Info'].str.len()==4, 'Info'] = gdppc_df.loc[gdppc_df['Info'].str.len()==4, 'Add Zero FIPS']

In [70]:
# Test if There are FIPS That Are Not 5 Characters
test = gdppc_df.loc[gdppc_df['Info'].str.len()!=5, 'Info'].copy()
print(test.size)

0

In [71]:
gdppc_df.head()

,Info,Unnamed: 1,Unnamed: 2,Unnamed: 3,Population,Unnamed: 5,Unnamed: 6,Unnamed: 7,"All Industry GDP ($, thousands)",Unnamed: 9,Unnamed: 10,Unnamed: 11,GDP Per Capita ($),Unnamed: 13,Unnamed: 14,Unnamed: 15,Percent Change in GDP Per Capita,Unnamed: 17,Add Zero FIPS
0,0CODE,County Name,State,Size,2012,2013,2014,2015,2012,2013,2014,2015,2012.00000,2013.00000,2014.00000,2015.00000,Change (2012-2015),Change (2014-2015),0CODE
1,06037,Los Angeles,CA,Large,9956152,10018604,10072695,10123248,593671075,617139519,654038890,691948578,59628.56684,61599.35246,64931.86679,68352.42780,14.6%,5.3%,06037
2,17031,Cook,IL,Large,5237174,5250498,5253756,5245831,352175982,357645409,367251284,382626329,67245.42320,68116.47371,69902.61520,72939.12614,8.5%,4.3%,017031
3,48201,Harris,TX,Large,4262689,4353517,4452695,4551362,377095884,395892886,402388140,395784448,88464.32006,90936.33630,90369.57169,86959.56243,-1.7%,-3.8%,048201
4,04013,Maricopa,AZ,Large,3939776,4006307,4076708,4154076,191057142,197090923,204933478,215381372,48494.41745,49195.16228,50269.35410,51848.20210,6.9%,3.1%,04013

In [81]:
gdppc_df0 = gdppc_df.rename(columns={'Info':'FIPS','Unnamed: 1':'County Name','Unnamed: 2':'State','Unnamed: 3':'Size','Population':'Pop 2012','Unnamed: 5':'Pop 2013','Unnamed: 6':'Pop 2014','Unnamed: 7':'Pop 2015','All Industry GDP ($, thousands)':'GDP 2012','Unnamed: 9':'GDP 2013','Unnamed: 10':'GDP 2014','Unnamed: 11':"GDP 2015",'GDP Per Capita ($)':'GDP/capita 2012','Unnamed: 13':'GDP/capita 2013','Unnamed: 14':'GDP/capita 2014','Unnamed: 15':'GDP/capita 2015','Percent Change in GDP Per Capita':'% Change (2012-2015)','Unnamed: 17':'% Change (2014-2015)'})
gdppc_df00 = gdppc_df0.drop(gdppc_df0.index[0])
gdppc_df00.head()

,FIPS,County Name,State,Size,Pop 2012,Pop 2013,Pop 2014,Pop 2015,GDP 2012,GDP 2013,GDP 2014,GDP 2015,GDP/capita 2012,GDP/capita 2013,GDP/capita 2014,GDP/capita 2015,% Change (2012-2015),% Change (2014-2015),Add Zero FIPS
1,06037,Los Angeles,CA,Large,9956152,10018604,10072695,10123248,593671075,617139519,654038890,691948578,59628.56684,61599.35246,64931.86679,68352.42780,14.6%,5.3%,06037
2,17031,Cook,IL,Large,5237174,5250498,5253756,5245831,352175982,357645409,367251284,382626329,67245.42320,68116.47371,69902.61520,72939.12614,8.5%,4.3%,017031
3,48201,Harris,TX,Large,4262689,4353517,4452695,4551362,377095884,395892886,402388140,395784448,88464.32006,90936.33630,90369.57169,86959.56243,-1.7%,-3.8%,048201
4,04013,Maricopa,AZ,Large,3939776,4006307,4076708,4154076,191057142,197090923,204933478,215381372,48494.41745,49195.16228,50269.35410,51848.20210,6.9%,3.1%,04013
5,06073,San Diego,CA,Large,3179798,3216522,3256875,3290044,191216801,199478489,206197873,214056241,60134.88939,62016.82718,63311.57106,65061.81711,8.2%,2.8%,06073

In [83]:
# Save Output 
path2 = r'C:\Users\Owner\Documents\School\Homework\Election2020-Rice\douNotebooks\2012-2015_GDP_per_capita_clean.csv'
gdppc_df00.to_csv(path2,index=False)